@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


.fi-fo-file-upload-editor {
  position: fixed !important;
  top: 25% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  z-index: 9999 !important;

  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}